<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <body>
	    <ui:composition>
 
			<h1>Nadzorna ploča</h1>
	
			
			<div class="box-50 light dobrodosli">
				<h2>Dobrodošli!</h2>
				
				<p>Dobrodošli na CMS sučelje za administraciju web stranica <a href="http://dario-virtus-dizajn.com" target="_blank">dario-virtus-dizajn.com</a>.
				Ovdje možete pregledati statistike najnovijih logiranja i aktivnosti, kao i ukupne statistike stranice.</p>
				
			</div>
			
			<div class="box-50 light last">
				<h2>Uputstva za korištenje</h2>
				
				<div class="uputstva">
					<a href="http://virtus-projekti.com/tutorials/stranice_unos.swf" target="_blank">Unos stranica/novosti</a>
					<a href="http://virtus-projekti.com/tutorials/kategorije_unos.swf" target="_blank">Unos kategorija</a>
					<a href="http://virtus-projekti.com/tutorials/slike_unos.swf" target="_blank">Unos slika i dokumenata</a>
				</div>
				
				<div class="uputstva">
					<a href="http://virtus-projekti.com/tutorials/stranice_pregled.swf" target="_blank">Pregled stranica</a>
					<a href="http://virtus-projekti.com/tutorials/kategorije_pregled.swf" target="_blank">Pregled kategorija</a>
					<a href="http://virtus-projekti.com/tutorials/newsletter.swf" target="_blank">Newsletter</a>
				</div>
				
				<div class="uputstva">
					<a href="http://virtus-projekti.com/tutorials/profil.swf" target="_blank">Profil</a>
				</div>
			</div>
			
			<div class="box-50 gray zadnji-unosi">
				<h3>Zadnji unos</h3>
				
						
				<table>
					<thead>
						<tr>
							<th>Datum i vrijeme</th>
							<th>Korisnik</th>
							<th>Cjelina</th>
						</tr>
					</thead>
					
					<tbody>
						
							<tr>
								<td>11.02.2015 13:07:26</td>
								<td>Virtus</td>
								<td>aaaa</td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:28:32</td>
								<td>Virtus</td>
								<td>Citel </td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:22:49</td>
								<td>Virtus</td>
								<td>Citel </td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:22:37</td>
								<td>Virtus</td>
								<td>Citel </td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:22:22</td>
								<td>Virtus</td>
								<td>EOD Partner</td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:22:12</td>
								<td>Virtus</td>
								<td>EOD Partner</td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:21:38</td>
								<td>Virtus</td>
								<td>ForceWare </td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:21:15</td>
								<td>Virtus</td>
								<td>Vallon </td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:20:38</td>
								<td>Virtus</td>
								<td>Vallon </td>
							</tr>
							
							<tr>
								<td>11.02.2015 11:20:07</td>
								<td>Virtus</td>
								<td>Solari </td>
							</tr>
					</tbody>
				</table>
		
			</div>
 
	    </ui:composition>
    </body>
</html>