<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jstl/core">
    <body>
	    <ui:composition>

			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<title>JSON MySql wb servis</title>
			<meta name='robots' content='noindex,nofollow' />
			<meta name="author" content="Virtus dizajn" />
			<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" />
			
			<link href="images/favicon.png" rel="shortcut icon" type="image/x-icon"/>
			<link href="include/css/roboto_font.css" rel="stylesheet" type="text/css" />
			<link href="include/css/style.css" rel="stylesheet" type="text/css" />
			<link href="include/css/460up.css" rel="stylesheet" media="screen and (min-width: 460px)"/>
			<link href="include/css/560up.css" rel="stylesheet" media="screen and (min-width: 560px)"/>
			<link href="include/css/660up.css" rel="stylesheet" media="screen and (min-width: 660px)"/>
			<link href="include/css/760up.css" rel="stylesheet" media="screen and (min-width: 760px)"/>
			<link href="include/css/860up.css" rel="stylesheet" media="screen and (min-width: 860px)"/>
			<link href="include/css/960up.css" rel="stylesheet" media="screen and (min-width: 960px)"/>
			<link href="include/css/1280up.css" rel="stylesheet" media="screen and (min-width: 1280px)"/>
			<link href="include/css/1600up.css" rel="stylesheet" media="screen and (min-width: 1600px)"/>
			<link href="include/css/dropzone.css" rel="stylesheet" type="text/css" />
			
			<script type="text/javascript" src="include/js/jquery-1.8.3.min.js"></script>
			<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
			<script type="text/javascript" src="include/js/google_maps.js"></script>
			<script type="text/javascript" src="include/js/respond.js"></script>
			<script type="text/javascript" src="include/js/dropzone.js"></script>
			<script type="text/javascript" src="include/js/functions.js"></script>
			
			<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
			<script type="text/javascript" src="include/js/sajax.js"></script>
			
		</ui:composition>
    </body>
</html>