<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
	<h:head>
		<ui:insert name="head_tag">
		  <ui:include src="/templates/head_tag.xhtml" />
		</ui:insert>
    </h:head>

    <h:body>

		<div class="container_new">
	 
		    <div class="content_new">
			  	<ui:insert name="content" >
			 	  <ui:include src="/templates/content.xhtml" />
			   	</ui:insert>
		    </div>
	 
	    </div>
 
    </h:body>
</html>