<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:h="http://xmlns.jcp.org/jsf/html"
xmlns:f="http://xmlns.jcp.org/jsf/core"
xmlns:c="http://java.sun.com/jstl/core">

    <h:body>
 
    	<ui:composition template="/templates/template.xhtml">
 
 			<ui:define name="content">
 			
 				<h:panelGroup layout="block" rendered="#{item.success == '1'}">
					<div class="success">Uspješno ste spremili podatke!</div>
				</h:panelGroup>
				<h:panelGroup layout="block" rendered="#{item.success == '-1' and facesContext.postback}">
					<div class="error">Dogodila se pogreška!</div>
				</h:panelGroup>
				<h:panelGroup layout="block" rendered="#{item.success == '-2' and facesContext.postback}">
					<div class="error">Dogodila se pogreška! Dozvoljen vam je upis jednom unutar 1h!</div>
				</h:panelGroup>
				<h:panelGroup layout="block" rendered="#{item.success == '-3' and facesContext.postback}">
					<div class="error">Dogodila se pogreška! Korisnik već postoji u bazi</div>
				</h:panelGroup>
				
				<f:metadata>
				    <f:viewParam id="id" name="id" value="#{item.id}" />
				    <f:viewAction action="#{item.getId}" />
				</f:metadata>
				
				<h1>Povezivanje na web servis </h1>
				<h:form enctype="multipart/form-data"  name="users_list" id="users_list" class="unos" action="" method="post">
					<input type="hidden" name="e_id" id="e_id" value="65"/>		
					
					<div class="box-75">
						
							<label for="title_hr">Ime </label>
							<h:inputText class="" name="first_name" id="first_name" />
							
							<label for="title_en">Prezime </label>
							<h:inputText class="" name="last_name" id="last_name" />
							
							<label for="title_de">E-mail </label>
							<h:inputText class="" name="email" id="email" />
					</div>

					<div class="box-75">		
						<div class="save_new">
							<div class="submit-wrapper">
								<h:commandButton name="spremi3" class="spremi_s" value="Spremi" action="#{item.save(0)}">
								</h:commandButton>
							</div>
						</div>
					</div>
				</h:form>

    		</ui:define>
 
    	</ui:composition>
 
    </h:body>
 
</html>